.inter {
  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif; /*Fuente principal con alternativas*/
  font-size: 16px; /*Tamaño de fuente*/
  line-height: 20px; /*Altura de linea*/
}
